* {
  margin: 0;
  padding: 0;
  background-color: #fafcfd;
}

ol,
ul {
  list-style: none;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-width: 1600px;
  @media screen and (min-width: 1600px) {
    margin-left: 10%;
    margin-right: 10%;
  }
  @media screen and (min-width: 2000px) {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.main {
  margin-left: 2%;
  margin-right: 2%;
  @media screen and (min-width: 750px) {
    margin-left: 5%;
    margin-right: 5%;
  }
  @media screen and (min-width: 1023px) {
    margin-left: 15%;
    margin-right: 15%;
  }
}

h1 {
  color: #521a68;
}

h2 {
  color: #1a0f24;
  margin: 10px;
  font-size: 6.5vw;
  @media screen and (min-width: 461px) {
    font-size: 30px;
  }
}

p {
  color: #1a0f24;
  font-size: 18px;
}

.app-name {
  max-width: 150px;
  margin-left: 10px;
  margin-top: 5px;
  text-decoration: none;
}

.article-card {
  width: 95%;
  height: fit-content;
  display: grid;
  column-gap: 3px;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 3px;
  grid-template-columns: 15vw auto 50px;
  grid-template-areas: "article-card-img article-card-title read-button";
  @media screen and (min-width: 1500px) {
    grid-template-columns: 12vw auto 50px;
  }
}

.article-card-img {
  max-width: 22vw;
  max-height: 22vh;
  @media screen and (min-width: 2000px) {
    max-width: 275px;
  }
  @media screen and (min-width: 2000px) {
    max-width: 300px;
  }
}

.article-list {
  list-style-type: none;
}

.read-button {
  background-color: #d097e4;
  border-radius: 2px;
  padding: 3px;
  margin-top: 70%;
  box-shadow: 2px 1px 1px #521a68;
}

.read-button:hover {
  outline: 1px solid #165e6c;
}

.full-article-button {
  background-color: #d097e4;
  border-radius: 2px;
  padding: 3px;
  margin-left: 10px;
  box-shadow: 2px 1px 1px #521a68;
  display: flex;
  align-self: flex-end;
  width: fit-content;
  color: #1a0f24;
  text-decoration: none;
}

.full-article-button:hover {
  outline: 1px solid #165e6c;
}

.article-card-title {
  max-width: fit-content;
  font-size: 3.75vw;
  @media screen and (min-width: 650px) {
    font-size: 2.5vw;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
  }
}

.article-card-text {
  max-width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

.article-card-info {
  font-size: 0.7em;
  color: #5c4d5f;
  @media screen and (min-width: 650px) {
    font-size: 2vw;
  }
  @media screen and (min-width: 1000px) {
    font-size: 20px;
  }
}

.article {
  color: #1a0f24;
  display: block;
}

.random-article {
  color: #1a0f24;
  display: block;
  border: 2px solid #165e6c;
  margin-top: 5%;
  padding-left: 2%;
  padding-right: 2%;
  box-shadow: 5px 3px 3px #5c4d5f;
  padding-bottom: 2%;
  margin-left: 10px;
  margin-right: 10px;
}

.article-title {
  text-align: center;
  margin-left: 12%;
  margin-right: 12%;
  padding-top: 30px;
  padding-bottom: 15px;
}

.article-info {
  color: #5c4d5f;
  padding-bottom: 5px;
  padding-left: 10px;
  font-size: 16px;
}

.article-body {
  text-align: justify;
  padding: 10px;
  margin-bottom: 5px;
}

.comment-card {
  text-align: justify;
  display: block;
  margin: 10px;
  border-top: 1px solid #165e6c;
  padding-top: 10px;
}

.comment-info {
  color: #5c4d5f;
  font-size: 16px;
}

.comment-body {
  padding-bottom: 8px;
}

.delete-comment-button {
  max-height: 30px;
  width: 60px;
  background-color: #d097e4;
  border-radius: 2px;
  z-index: 1;
}

.delete-comment-button:hover {
  outline: 2px solid #165e6c;
}

.article-vote-buttons {
  text-align: center;
  font-size: 16px;
  color: #5c4d5f;
  margin-bottom: 8px;
}

.vote-button {
  margin: 3px;
  font-size: 1em;
  background-color: #fafcfd;
  border: none;
}

.vote-thanks {
  text-align: center;
  font-size: 0.9em;
  color: #5c4d5f;
  @media screen and (min-width: 650px) {
    font-size: 2vw;
  }
  @media screen and (min-width: 1023px) {
    font-size: 1.75vw;
  }
}

.vote-error,
.commentError {
  text-align: center;
  font-size: 0.9em;
  color: #521a68;
  margin-bottom: 15px;
  @media screen and (min-width: 650px) {
    font-size: 2vw;
  }
  @media screen and (min-width: 1023px) {
    font-size: 1.75vw;
  }
}

.comment-box {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.comment-box-label {
  font-size: 18px;
  color: #5c4d5f;
  margin-bottom: 3px;
}

.comment-input {
  height: 100px;
  margin-bottom: 3px;
  border: 1px solid #165e6c;
  padding: 3px;
  word-wrap: break-word;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #1a0f24;
}

.post-comment-button {
  max-height: 30px;
  width: 60px;
  background-color: #d097e4;
  align-self: flex-end;
  border-radius: 2px;
}

.post-comment-button:hover {
  outline: 1px solid #165e6c;
}

.comment-error {
  margin: 10px;
  text-align: center;
  font-size: 0.9em;
  color: #521a68;
  @media screen and (min-width: 650px) {
    font-size: 2vw;
  }
  @media screen and (min-width: 1023px) {
    font-size: 1.75vw;
  }
}

.query-button {
  font-size: 16px;
  color: #1a0f24;
  margin-left: 10px;

  margin-top: 5px;
  background-color: #fafcfd;
  width: 95%;
  border-top: 2px solid #165e6c;
  border-bottom: 2px solid #165e6c;
  border-left: none;
  border-right: none;
  text-align: start;
  padding-top: 3px;
  padding-bottom: 3px;
}

.query-list-option {
  font-size: 16px;
  color: #1a0f24;
  margin-left: 10px;

  background-color: #fafcfd;
  width: 95%;
  border-top: none;
  border-bottom: 2px solid #3e96a8;
  border-left: none;
  border-right: none;
  text-align: start;
  padding-top: 3px;
  padding-bottom: 3px;
}

.query-list-option-direction {
  font-size: 16px;
  color: #1a0f24;
  margin-left: 10px;

  background-color: #fafcfd;
  width: 95%;
  border-top: none;
  border-bottom: 2px solid #3e96a8;
  border-left: none;
  border-right: none;
  text-align: start;
  padding-top: 3px;
  padding-bottom: 3px;
}

.error-page {
  color: #1a0f24;
  text-align: center;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

.error-page-header {
  color: #1a0f24;
}

.error-page-sub-header {
  color: #1a0f24;
  opacity: 85%;
  font-weight: normal;
}

.error-page-button {
  background-color: #d097e4;
  padding: 5px;
  font-size: large;
  border-radius: 3px;
}

.error-page-button:hover {
  outline: 2px solid #165e6c;
}

.nav-bar {
  border-bottom: 1px solid #5c4d5f;
  padding-bottom: 4px;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-bar-item {
  display: grid;
  color: #165e6c;
  text-decoration: none;
  margin-top: 3%;
  padding-bottom: 5px;
}

.nav-bar-item-text {
  font-size: larger;
}

.app-header {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "app-name user-icon";
}

.user-icon {
  width: 60px;
  height: 60px;
  border: 3px solid #521a68;
  border-radius: 50%;
  margin-top: 15px;
  margin-right: 15px;
  float: right;
}

.user-profile-header {
  margin-top: 15px;
  font-size: 24px;
}

.user-profile-paragraph {
  margin-left: 10px;
}
